<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jammsoft.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.co.notification.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.co.notification.permission.C2D_MESSAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Lenguaje">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.jammsoft.proyectofinal" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.jammsoft.proyectofinal.TokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.jammsoft.proyectofinal.NotificationsListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <activity android:name=".Inicio" />
        <activity android:name=".Directorio" />
        <activity android:name=".Noticias" />
        <activity android:name=".Estudiante" />
        <activity android:name=".Sugerencias" />
        <activity android:name=".PaginaOficial" />
        <activity android:name=".Horario" />
        <activity android:name=".MapaCampus" />
        <activity android:name=".Ayuda" />
        <activity android:name=".ObjetosPerdidos"></activity>
    </application>

</manifest>